{% if selected %}
<div class ="card-text-header center">
    [company.name]
  </div>

  <div class ="card-text-header">
    Meta Info
  </div>

  <table class ="card-text-column">
    <tr>
      <td>Database ID:</td>
      <td>{{selected.id}}</td>
    </tr>
  </table>

  <div class ="card-text-header">
    Info
  </div>

  <table class ="card-text-column">
    <tr>
      <td>Company Name:</td>
      <td>{{company.name}}</td>
    </tr>
    <tr>
      <td>Number of Representatives:</td>
      <td>{{num_representatives}}</td>
    </tr>
  </table>

  <div class ="card-text-header">
    Social & Contact
  </div>

  <table class ="card-text-column">
    <tr>
      <td>Website:</td>
      <td>{{company.website}}</td>
    </tr>
    <tr>
      <td>Contact #:</td>
      <td>{{company.contact}}</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>{{company.email}}</td>
    </tr>
  </table>
{% else %}
<div class = "not-selected-message">NO COMPANY SELECTED</div>
{% endif %}