{% extends "navbar.html" %}

{% block title %}Alchemy Internships{% endblock %}

{% block navbar %}

  <a class="nav-link" href = "/" style="font-family: Adlanta;">
  ALCHEMY INTERNSHIPS
  </a>

  <a class="nav-link" href = "/signuptype">SIGN UP</a>
  <a class="nav-link" href = "/login">LOG IN</a>

{% endblock %}

{% block page_content %}

  <div class = "page-content" style="height:95vh;">

    <div class = "page-segment" style="width:25%; background-color:var(--contrast);">

      <div class="page-segment-block" style="width:100%;">

        <div>
          <img src = "{{ url_for('static', filename='icons/logo_full_white.svg') }}" width= "500px" height= "500px">
        </div>

      </div>

    </div>
    
    <div class = "page-segment" style="width:50%; background-color:var(--contrast);">
      
      <div class="page-segment-block" style="width:100%;">

        <div class ="slogan">
          <div>
            <h1 style="color:white;">Education is elemental</h1>
          </div>

          <div>
            <h1 style="color:#57E6A6;">Experience shall be your elixir</h1>
          </div>
        </div>

          
      </div>
      
    </div>

    <div class = "page-segment" style="width:25%; background-color:var(--contrast);">

      <div class = "pane" style="background-color:var(--contrast);">

        <div class = "menu-panel">

          <a class="button-compound left large key" style="text-decoration:none" href="/signuptype">

            <div class ="button-compound-text large key" style="margin:75px;">
              SIGN UP
            </div>

          </a>

          <a class="button-compound left large key" style="text-decoration:none" href="/login">

            <div class ="button-compound-text large key" style="margin:75px;">
              LOG IN
            </div>

          </a>

        </div>   
        
      </div>
          
    </div>
    
  </div>
{% endblock %}