<div class="button-compound hover">

    <img src ="{{logo_path}}/edit.svg" class="button-compound-image">

    <div class="button-compound-text">
        EDIT
    </div>

</div>

<div class="button-compound key hover">

    <img src ="{{logo_path}}/shortlist_white.svg" class="button-compound-image">

    <div class="button-compound-text">
        VIEW SHORTLIST
    </div>

</div>

<div class="button-compound key hover">

    <img src ="{{logo_path}}/add_white.svg" class="button-compound-image">

    <div class="button-compound-text">
        ADD STUDENT
    </div>

</div>

<div class="button-compound hover">

    <img src ="{{logo_path}}/delete.svg" class="button-compound-image">

    <div class="button-compound-text">
        DELETE
    </div>

</div>