{% extends "filter.html" %}

{{ super() }}

{% block open_id %}{{ filter_overlay_id }}{% endblock %}
{% block close_id %}{{ filter_overlay_id }}{% endblock %}

{% block form_id %}{{filter_form_id}}{% endblock %}
{% block form_name %}{{filter_form_id}}{% endblock %}
{% block form_action %}{{filter_form_action}}{% endblock %}
{% block form_submit_id %}{{filter_form_id}}{% endblock %}
{% block form_id_test %}{{filter_form_id}}{% endblock %}

{% block filter_form %}
<table style="width:98%;">

    <tr class ="form-field">
      <td>
        <label for="shortlist-filter" class ="form-field-item">
          Shortlist Status:
        </label>
      </td>
      <td>

        <select id="shortlist-filter" name="shortlist" class="form-field-item">

          <option value="" class="select">All</option>
          <option value="waiting" class="select">Waiting</option>
          <option value="full" class="select">Full</option>

        </select>

      </td>
    </tr>
    
    <tr class ="form-field">
      <td>
        <label for="company-filter" class ="form-field-item">
          Company:
        </label>
      </td>
      <td>

        <select id="company-filter" name="company" class="form-field-item">

          <option value="" class="select">All</option>

          {% for company in companies %}
          <option value="{{company.id}}" class="select">{{company.name}}</option>
          {% endfor %}

          <!-- <option value="[company.name]" class="select">[company.name]</option>
          <option value="[company.name]" class="select">[company.name]</option>
          <option value="[company.name]" class="select">[company.name]</option>
          <option value="[company.name]" class="select">[company.name]</option>
          <option value="[company.name]" class="select">[company.name]</option> -->

        </select>

      </td>
    </tr>

    <tr class ="form-field">
      <td>
        <label for="format-filter" class ="form-field-item">
          Format:
        </label>
      </td>
      <td>

        <select id="format-filter" name="format" class="form-field-item">

          <option value="" class="select">All</option>
          <option value="physical" class="select">Physical</option>
          <option value="online" class="select">Online</option>
          <option value="hybrid" class="select">Hybird</option>

        </select>

      </td>
    </tr>

    <tr class ="form-field">
      <td>
        <label for="area-filter" class ="form-field-item">
          Area:
        </label>
      </td>
      <td>

        <select id="area-filter" name="area" class="form-field-item">

          <option value="" class="select">All</option>

          {% for area in areas %}
          <option value="{{area.id}}" class="select">{{area.name}}</option>
          {% endfor %}
          <!-- <option value="[area.name]" class="select">[area.name]</option>
          <option value="[area.name]" class="select">[area.name]</option>
          <option value="[area.name]" class="select">[area.name]</option>
          <option value="[area.name]" class="select">[area.name]</option>
          <option value="[area.name]" class="select">[area.name]</option> -->

        </select>

      </td>
    </tr>

    <tr class ="form-field">
      <td>
        <label for="discipline-filter" class ="form-field-item">
          Discipline:
        </label>
      </td>
      <td>

        <select id="discipline-filter" name="discipline" class="form-field-item">

          <option value="" class="select">All</option>

          {% for discipline in disciplines %}
          <option value="{{discipline.id}}" class="select">{{discipline.name}}</option>
          {% endfor %}

          <!-- <option value="[discipline.id]" class="select">[discipline.name]</option>
          <option value="[discipline.id]" class="select">[discipline.name]</option>
          <option value="[discipline.id]" class="select">[discipline.name]</option>
          <option value="[discipline.id]" class="select">[discipline.name]</option>
          <option value="[discipline.id]" class="select">[discipline.name]</option>
           -->
        </select>
        
      </td>
    </tr>

    <tr class ="form-field">
      <td>
        <label for="year-requirement-filter" class ="form-field-item">
          Year Requirement:
        </label>
      </td>
      <td>

        <select id="year-requirement" name="year-requirement" class="form-field-item">

          <option value="" class="select">All</option>
          <option value="1" class="select">1</option>
          <option value="2" class="select">2</option>
          <option value="3" class="select">3</option>
          <option value="4" class="select">4</option>
          <option value="5" class="select">5</option>

        </select>

      </td>
    </tr>

    <tr class ="form-field">
      <td>
        <label for="residence-requirement" class ="form-field-item">
          Residence Requirement:
        </label>
      </td>
      <td>

        <select id="residence-requirement" name="residence-requirement" class="form-field-item">

          <option value="" class="select">All</option>

          {% for country in countries %}
          <option value="{{country.id}}" class="select">{{country.name}}</option>
          {% endfor %}

          <!-- <option value="[country.name]" class="select">[country.name]</option>
          <option value="[country.name]" class="select">[country.name]</option>
          <option value="[country.name]" class="select">[country.name]</option>
          <option value="[country.name]" class="select">[country.name]</option>
          <option value="[country.name]" class="select">[country.name]</option> -->

        </select>

      </td>
    </tr>
    
  </table>
{% endblock %}