{% extends "filter.html" %}

{{ super() }}

{% block open_id %}{{ filter_overlay_id }}{% endblock %}
{% block close_id %}{{ filter_overlay_id }}{% endblock %}

{% block form_id %}{{filter_form_id}}{% endblock %}
{% block form_name %}{{filter_form_id}}{% endblock %}
{% block form_action %}{{filter_form_action}}{% endblock %}
{% block form_submit_id %}{{filter_form_id}}{% endblock %}
{% block form_id_test %}{{filter_form_id}}{% endblock %}

{% block filter_form %}
<table style="width:98%;">
              
    <tr class ="form-field">
      <td>
        <label for="company-filter" class ="form-field-item">
          Company:
        </label>
      </td>
      <td>

        <select id="company-filter" name="company" class="form-field-item">

          <option value="" class="select">All</option>
          <option value="[company.name]" class="select">[company.name]</option>
          <option value="[company.name]" class="select">[company.name]</option>
          <option value="[company.name]" class="select">[company.name]</option>
          <option value="[company.name]" class="select">[company.name]</option>
          <option value="[company.name]" class="select">[company.name]</option>

        </select>

      </td>
    </tr>
    
  </table>
{% endblock %}