{% extends "layout2.html" %}

{% block title %}{{role}} Sign Up{% endblock %}

{% block body %}
<div class = "page-content" style="height:100%; background-color:var(--primary);">

    <div class = "page-segment" style="width:45%; height:90%;">

      <div class= "pane">

        <form class ="login-form login-form-item" method="post" action="/signup/{{role}}">

          <div>
            <img src = "{{logo_path}}/logo_full.svg" width= "300px" height= "300px">
          </div>
          
          <div style="font-size:40px; font-weight:bold; margin: 4vh; color:var(--primary)">
            SIGN UP
          </div>
          
          <input type="text" placeholder="Username" name="username" class="login-form-item" required>
          <input type="password" placeholder="Password" name="password" minlength="6" class="login-form-item" required>

          <button class="button-compound key hover login-form-item">
            <div class="button-compound-text">
              SIGN IN
            </div>
          </button>

          <div style="margin-top: 5vh;">
            Already have an account? <a href="/login">Log In here</a>
          </div>
          
        </form>  

      </div>

    </div>

  </div>
{% endblock %}