{% extends "layout2.html" %}

{% block title %}Sign Up Role{% endblock %}

{% block body %}

<div class = "page-content">

    <a class = "page-segment-button" style="width:50vw; text-decoration: none;" href="signup/student">

      <div style="display:flex; flex-direction:column; align-items: center; text-align: center; width: 80%"> 
        <h3>Sign Up as a</h3>

        <h1> STUDENT </h1>

        <h4 style="font-family: Comfortaa">
          Sign up and become elligible for internship project shortlisting. Our admins will match you to projects that are tailored to your skills and interests.
        </h4>
      </div>
  
    </a>

    <a class = "page-segment-button" style="width:50vw; text-decoration: none;" href="signup/rep">

      <div style="display:flex; flex-direction:column; align-items: center; text-align: center; width: 80%"> 
        
        <h3>Sign Up as a</h3>

        <h1> COMPANY <br> REPRESENTATIVE </h1>

        <h4 style="font-family: Comfortaa">
          Sign up and upload internship projects on behalf of your company. Our admins will provide you with a shortlist of capable students that are hungry for experience.
        </h4>
      </div>

    </a>
    
  </div>
{% endblock %}