{% if selected %}
<div class ="card-text-header center">
    [student.first_name student.last_name]
  </div>

  <div class ="card-text-header">
    Meta Info
  </div>

  <table class ="card-text-column">
    <tr>
      <td>Database ID:</td>
      <td>[student.id]</td>
    </tr>
  </table>

  <div class ="card-text-header">
    Bio
  </div>

  <table class ="card-text-column">
    <tr>
      <td>First Name:</td>
      <td>[student.first_name]</td>
    </tr>

    <tr>
      <td>Last Name:</td>
      <td>[student.last_name]</td>
    </tr>
    <tr>
      <td>Country of Residence:</td>
      <td>[student.residence]</td>
    </tr>
  </table>

  <div class ="card-text-header">
    Contact
  </div>

  <table class ="card-text-column">
    <tr>
      <td>Contact #:</td>
      <td>[student.contact]</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>[student.email]</td>
    </tr>
  </table>

  <div class ="card-text-header">
    Transcript
  </div>

  <table class ="card-text-column">

    <tr>
      <td>Student ID:</td>
      <td>[student.student_id]</td>
    </tr>
    <tr>
      <td>Year:</td>
      <td>[student.year]</td>
    </tr>
    <tr>
      <td>Major:</td>
      <td>[student.major]</td>
    </tr>
    <tr>
      <td>Major2:</td>
      <td>[student.major2]</td>
    </tr>
    <tr>
      <td>Minor:</td>
      <td>[student.minor]</td>
    </tr>
    <tr>
      <td>Minor2:</td>
      <td>[student.minor2]</td>
    </tr>
    <tr>
      <td>GPA:</td>
      <td>[student.gpa]</td>
    </tr>
  </table>

  <div class ="card-text-header">
    Courses
  </div>

  <table class ="card-text-column">
    <tr>
      <th>CODE</td>
      <th>NAME</td>
      <th>GRADE</td>
    </tr>
    <tr>
      <td>[student.course.code]</td>
      <td>[student.course.name]</td>
      <td>[student.course.grade]</td>
    </tr>
    <tr>
      <td>[student.course.code]</td>
      <td>[student.course.name]</td>
      <td>[student.course.grade]</td>
    </tr>
    <tr>
      <td>[student.course.code]</td>
      <td>[student.course.name]</td>
      <td>[student.course.grade]</td>
    </tr>
    <tr>
      <td>[student.course.code]</td>
      <td>[student.course.name]</td>
      <td>[student.course.grade]</td>
    </tr>
  </table>

  <div class ="card-text-header">
    Letter
  </div>

  <table class ="card-text">[student.letter]</table>
{% else %}
<div class = "not-selected-message">NO STUDENT SELECTED</div>
{% endif %}