{% if selected %}
<div class ="card-text-header center">
    {{selected.first_name selected.last_name}}
  </div>

  <div class ="card-text-header">
    Meta Info
  </div>

  <table class ="card-text-column">
    <tr>
      <td>Database ID:</td>
      <td>{{selected.id}}</td>
    </tr>
  </table>

  <div class ="card-text-header">
    Bio
  </div>

  <table class ="card-text-column">
    <tr>
      <td>First Name:</td>
      <td>{{selected.first_name}}</td>
    </tr>

    <tr>
      <td>Last Name:</td>
      <td>{{selected.last_name}}</td>
    </tr>
    <tr>
      <td>Country of Residence:</td>
      <td>{{selected.residence}}</td>
    </tr>
  </table>

  <div class ="card-text-header">
    Contact
  </div>

  <table class ="card-text-column">
    <tr>
      <td>Contact #:</td>
      <td>{{selected.contact}}</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td>{{selected.email}}</td>
    </tr>
  </table>

  <div class ="card-text-header">
    Transcript
  </div>

  <table class ="card-text-column">

    <tr>
      <td>Student ID:</td>
      <td>{{selected.student_id}}</td>
    </tr>
    <tr>
      <td>Year:</td>
      <td>{{selected.year}}</td>
    </tr>
    <tr>
      <td>Major:</td>
      <td>{{selected.major}}</td>
    </tr>
    <tr>
      <td>Major2:</td>
      <td>{{selected.major2}}</td>
    </tr>
    <tr>
      <td>Minor:</td>
      <td>{{selected.minor}}</td>
    </tr>
    <tr>
      <td>Minor2:</td>
      <td>{{selected.minor2}}</td>
    </tr>
    <tr>
      <td>GPA:</td>
      <td>{{selected.gpa}}</td>
    </tr>
  </table>

  <div class ="card-text-header">
    Courses
  </div>

  <table class ="card-text-column">
    <tr>
      <th>CODE</td>
      <th>NAME</td>
      <th>GRADE</td>
    </tr>
    {% for course in selected.transcript.courses %}
    <tr>
      <td>{{course.code}}</td>
      <td>{{student.course.name}}</td>
      <td>{{student.course.grade}}</td>
    </tr>
    {% endfor %}
  </table>

  <div class ="card-text-header">
    Letter
  </div>

  <table class ="card-text">{{selected.letter}}</table>
{% else %}
<div class = "not-selected-message">NO STUDENT SELECTED</div>
{% endif %}