{% extends "view.html" %}

{{ super() }}

{% block title %}Companies{% endblock %}

{% block navbar %}
<a class="nav-link" href = "landing_page.html" style="font-family: Adlanta;">
    ALCHEMY INTERNSHIPS
  </a>
  
  <a class="nav-link" href = "home_page.html">HOME</a>
  <a class="nav-link" href = "view_students_page.html">STUDENTS</a>
  <a class="nav-link" href = "view_reps_page.html">REPS</a>
  <a class="nav-link" href = "view_projects_page.html">PROJECTS</a>
  <a class="nav-link" href = "view_companies_page.html">COMPANIES</a>
  <a class="nav-link active" href = "shortlisting_page.html">SHORTLISTING</a>
  <a class="nav-link" href = "student_form.html">EDIT INFO</a>
  <a class="nav-link" href = "landing_page.html">LOG OUT</a>
{% endblock %}

  {% block filter_overlay %}
  
  {% set filter_overlay_id = "filter-overlay" %}

  <div id='{{filter_overlay_id}}' class="filter-pane-overlay">
    {% include "company_filter.html" %}
  </div>

  {% endblock  %}

  {% block page_header %}
  <div class = "page-header">
    <div>
      COMPANIES
    </div>
  </div>
  {% endblock %}
  
  {% block page_content %}

  <div class = "page-content">

    <div class = "page-segment" style="width:25%;">

        <div class="pane">
  
          <div class = "pane-content">
            
            <div class = "pane-header">
              
              <div class = "pane-header-text"> 
  
                <div> COMPANIES </div>
                
              </div>
  
              <div class = "pane-header-button"> 
  
                <div class="button-compound" id="filter-button" onclick="openFilterMenu('filter-overlay')">
                  
                  <img src ="{{logo_path}}/filter_icon.svg" class="button-image">
                              
                </div>
                
              </div>
              
            </div>
  
            {% set test = 0 %}
            {% set none_message = "NO COMPANIES" %}

            <div class = "pane-data">
                {% include "company_list.html" %}              
            </div>
            
          </div>
          
        </div>
  
    </div>
  
    {% set selected = true %}

    <div class = "page-segment" style="width:75%;">

    <div class= "pane">

        <div class = "pane-content">

        <div class = "pane-header">

            <div class = "pane-header-text"> 

            <div> COMPANY INFORMATION </div>

            </div>

            <div class = "pane-header-button"> 

            <a class="button-compound" id="new-tab-button">

                <img src ="{{logo_path}}/new_tab.svg" class="button-image">

            </a>

            </div>

        </div>
        
        <div class = "pane-data">
            {% include "company_card.html" %}
        </div>

        <div class ="pane-controls">

            {% include "company_controls.html" %}

        </div>

        </div>     

    </div>

    </div>

  </div>
{% endblock %}