{% extends "view.html" %}

{{ super() }}

{% block title %}Students{% endblock %}

{% block navbar %}
{% include "admin_navbar.html" %}
{% endblock %}

  {% block filter_overlay %}
  
  {% set filter_overlay_id = "filter-overlay" %}

  <div id='{{filter_overlay_id}}' class="filter-pane-overlay">
    {% set filter_form_id = "student_filter_form" %}
    {% set filter_form_action = "/students" %}
    {% include "student_filter.html" %}
  </div>

  {% endblock  %}

  {% block page_header %}
  <div class = "page-header">
    <div>
      STUDENTS
    </div>
  </div>
  {% endblock %}
  
  {% block page_content %}

  <div class = "page-content">

    <div class = "page-segment" style="width:25%;">

        <div class="pane">
  
          <div class = "pane-content">
            
            <div class = "pane-header">
              
              <div class = "pane-header-text"> 
  
                <div> STUDENTS </div>
                
              </div>
  
              <div class = "pane-header-button"> 
  
                <div class="button-compound" id="filter-button" onclick="openFilterMenu('filter-overlay')">
                  
                  <img src ="{{logo_path}}/filter_icon.svg" class="button-image">
                              
                </div>
                
              </div>
              
            </div>
  
            {% set test = 0 %}
            {% set none_message = "NO STUDENTS" %}

            <div class = "pane-data">
                {% include "student_list.html" %}              
            </div>
            
          </div>
          
        </div>
  
    </div>
  
    {% set selected = true %}

    <div class = "page-segment" style="width:75%;">

    <div class= "pane">

        <div class = "pane-content">

        <div class = "pane-header">

            <div class = "pane-header-text"> 

            <div> STUDENT INFORMATION </div>

            </div>

            <div class = "pane-header-button"> 

            <a class="button-compound" id="new-tab-button">

                <img src ="{{logo_path}}/new_tab.svg" class="button-image">

            </a>

            </div>

        </div>
        
        <div class = "pane-data">
            {% include "student_card.html" %}
        </div>

        <div class ="pane-controls">

            {% include "student_controls.html" %}

        </div>

        </div>     

    </div>

    </div>

  </div>
{% endblock %}